{% extends "config/base-page-config.html" %}
{% block content_config %}
<h5 class="title-table">Planos de Pagamento</h5>
<table class="config-table">
    <thead>
        <th>ID</th>
        <th>Tipo</th>
        <th>Forma Pgto.</th>
        <th>Descrição</th>
        <th>Descrição Externa</th>
    </thead>
    <tbody id="tbodyPlanos_id">
        {% for plano in planosCadastrados %}
        <tr>
            <td data-lable="Numero">
                <a href="./{{plano.id}}/">{{plano.id}}</a>
            </td>
            <td>
                {{plano.tipo}}
            </td>
            <td>
                {{plano.formapgto}}
            </td>
            <td>
                {{plano.descricao}}
            </td>
            <td>
                {{plano.descricaoexterna}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
<div class="row">
    <div class="col s3">
        <a href="../" style="text-align: left;"><i class="medium material-icons">reply_all</i></a>
    </div>
    <div class="col s1 offset-s8" style="padding:0px;">
        <button class="submit-hover" style="padding: 15px 20px 15px 20px;" onclick=showModal()>
            <i class="material-icons">add</i></button>
    </div>
</div>
<div class="modal" id="modalNovoPlano">
    <div class="modal-content">
        <span class="close-modal" onclick=showModal()>
            <i class="material-icons small">close</i>
        </span>
        <h5>Cadastrar novo plano de pagamento</h5>
        <form method="POST" id="formCadastroPlano_id" onsubmit=submitFormCadastro(event)>
            {% csrf_token %}
            <div class="row">
                <div class="col s6">
                    <label>Tipo</label>
                    {{ formCadastroPlanoPgto.tipo }}
                </div>
                <div class="col s6">
                    <label>Forma de Pgto.</label>
                    {{ formCadastroPlanoPgto.forma_pgto }}
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <label for="descricao_id">Descrição</label>
                    {{ formCadastroPlanoPgto.descricao }}
                </div>
                <div class="col s6">
                    <label for="tipo_id">Descrição Externa</label>
                    {{ formCadastroPlanoPgto.descricao_externa }}
                </div>
            </div>
            <button class="ok-modal" type="submit" name="btnAddPlano" onclick=showModal()>Ok</button>
        </form>
    </div>
</div>
<script>
    function showModal() {
            document.getElementById("modalNovoPlano").classList.toggle("modal-show")
        }
    function submitFormCadastro(e) {
            e.preventDefault()
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
            const data_to_backend = new FormData()
            data_to_backend.append("tipo", document.getElementById("id_tipo").value)
            data_to_backend.append("forma_pgto", document.getElementById("id_forma_pgto").value)
            data_to_backend.append("descricao", document.getElementById("id_descricao").value)
            data_to_backend.append("descricao_externa", document.getElementById("id_descricao_externa").value)
            const request = new Request(`./`,
                {
                    method: 'POST',
                    headers: { 'X-CSRFToken': csrftoken },
                    body: data_to_backend
                })
            fetch(request, {
                method: 'POST',
                mode: 'same-origin'
            }).then(
                function (response) {
                    if (response.status === 201) {
                        M.toast({ html: "Plano cadastrado", classes: 'green rounded', displayLength: 2000 })
                        let xhttp = new XMLHttpRequest()
                        xhttp.onreadystatechange = function (data) {
                            if (this.readyState === 4 && this.status === 200) {
                                document.getElementById("tbodyPlanos_id").innerHTML = this.response
                            } else if (this.readyState === 4 && this.status === 403) {
                                M.toast({ html: "Ação não permitida", classes: 'red rounded', displayLength: 3000 })
                            } else if (this.readyState == 4 && this.status === 500) {
                                M.toast({ html: "Erro interno do servidor, recarregue a página", classes: 'red rounded', displayLength: 3000 })
                            }
                        }
                        xhttp.open("GET", "./ajax/carregar-planos/", true)
                        xhttp.send()
                    } else if (response.status === 400) {
                        M.toast({ html: "Dados incorretos", classes: 'red rounded', displayLength: 3000 })
                    } else {
                        console.log("ERROR")
                    }
                }
            )
        }
</script>
{% endblock content_config %}