{% extends "main/basePage.html" %}
{% block content %}
	{% if user.is_authenticated %}
	<div class="content">
		<div class="title-page title-page-red">
			<h4>Sistema de Gestão da Qualidade</h4>
		</div>
		<p class="select-app">
			Clique no link do aplicativo desejado
		</p>
		<div class="collection">
			<a href="/inicio" class="collection-item black-text">
				Gerenciamento Comercial - Orçamentos, Entregas, Faturamento, Estoque e Contas a Receber
			</a>
			<a href="/xpagamentos" class="collection-item black-text">
				Gerenciamento de Contas a Pagar - Agendamento, Comprovantes e Contratos de Fornecimento
			</a>
			<a href="/xfinanceiro" class="collection-item black-text">
				Gerenciamento Financeiro - Lançamentos, Controle de Caixa, Consolidações & Apurações
			</a>
			<a href="/xtalentos/inicio" class="collection-item black-text">
				Gerenciamento dos Recursos Humanos - Cadastros e Rotinas de RH
			</a>
			<a href="/xpatrimonios" class="collection-item black-text">
				Gerenciamento de Patrimônio - Imóveis, Veículos, Máquinas & Equipamentos, etc.
			</a>
			<a href="/xproducao" class="collection-item black-text">
				Gerenciamento da Produção Industrial - Produção e Controle de Lotes
			</a>
			<a href="/xprojetos" class="collection-item black-text">
				Gerenciamento de Projetos - Cronograma, Diário de Obras, Apontamentos e Medições
			</a>
			<a href="/procs/operacao/" class="collection-item black-text">
				Procedimentos - Procedimentos de operação do sistema
			</a>
			<a href="/config/" class="collection-item black-text">
				Configurações - Empresas, Centros de Custos, Planos de Contas e Outros Cadastros em Geral
			</a>
		</div>
	</div>
	{% endif %}
{% endblock content %}
