<!DOCTYPE html>
<html lang="pt-br">
	<head>
		{% load static %}
		<link href="{% static 'main/css/materialize.css' %}" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<title>SGQ</title>
	</head>
	<body>
		{% block body %}
		{% endblock body %}
		{% if messages %}
				{% for message in messages %}
					<script>M.toast({html: "{{message}}", classes: 'black rounded', displayLength:2000});</script>
				{% endfor %}
			{% endif %}
	</body>
