{% extends "main/basePage.html" %}
  {% block content %}
    <div class="container-content">
      <h4 style="text-align:center;">Usuário</h4>
      <br>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col s12">
            <label>Senha Antiga</label>
            {{ form.old_password }}
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Nova Senha</label>
            {{ form.new_password1 }}
            <p style="font-size:13px;">
              Sua senha não pode ser tão parecida com suas outras informações pessoais.
            </p>
            <p style="font-size:13px;">
              Sua senha precisa conter pelo menos 8 caracteres.
            </p>
            <p style="font-size:13px;">
              Sua senha não pode ser uma senha habitualmente utilizada.
            </p>
            <p style="font-size:13px;">
              Sua senha não pode ser inteiramente numérica.
            </p>
          </div>
          <div class="col s6">
            <label>Confirmação Nova Senha</label>
            {{ form.new_password2 }}
            <p style="font-size:13px;">
              Informe a mesma senha informada anteriormente, para verificação.
            </p>
          </div>
        </div>
        <br>
  			<br>
  			<div class="row">
  				<div class="col s1 offset-s11">
  					<button class="submit-hover" name="btnAlterar" type="submit" value="btnAlterar">ALTERAR</button>
  				</div>
  		  </div>
      </form>
    </div>
  {% endblock content %}
