{% extends "main/base-page-comercial.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="content">
	<div class="title-page">
		<h4>PENDÊNCIAS</h4>
	</div>
	<div class="title-section">
		<h5>Orçamentos</h5>
	</div>
	<div class="subtitle-section">
		<div class="row">
			<div class="col s6">
				<p>
					Você possui <span>34</span> orçamentos pendentes.
				</p>
			</div>
			<div class="col s3 offset-s2" style="text-align:right">
				<div class="pesq_cliente scale-transition scale-out" id="pesqClientesForm">
					<form method="POST">
						{% csrf_token %}
						{{form.nome_cliente}}
						<button type="submit" class="invisible-button">ok</button>
					</form>
				</div>
			</div>
			<div class="col s1" style="text-align:right">
				<button type="button" class="pesq-client-button" onclick="showPesqCliente()">
					<i class="small material-icons">search</i>
				</button>
			</div>
		</div>
	</div>
	{% if preOrcPend %}
	<table class="table-pendencias">
		<thead>
			<th>Número</th>
			<th>Data</th>
			<th>Cliente</th>
			<th>Pagamento</th>
			<th>Status</th>
		</thead>
		{% for pendencia in preOrcPend %}
			<tbody>
				<tr>
					<td data-lable="Numero">
						<a href="/orcs/preorcamento/{{pendencia.numero}}">{{pendencia.numero}}</a>
					</td>
					<td data-lable="Data">
						{{pendencia.data}}
					</td>
					<td data-lable="Cliente">
						{{pendencia.cliente}}
					</td>
					<td data-label="Pagamento">
						{{pendencia.pagamento}}
					</td>
					<td data-label="Status">
						{{pendencia.status}}
					</td>
				</tr>
			</tbody>
		{% endfor %}
	</table>
	{% endif %}
	{% if visitasPend %}
	<div class="title-section">
		<h5>Visitas marcadas</h5>
	</div>
	<div class="subtitle-section">
		<div class="row">
			<div class="col s6">
				<p>
					Você possui <span>34</span> visitas pendentes.
				</p>
			</div>
			<div class="col s3 offset-s2" style="text-align:right">
				<div class="pesq_cliente scale-transition scale-out" id="pesqClientesForm">
					<form method="POST">
						{% csrf_token %}
						{{form.nome_cliente}}
						<button type="submit" class="invisible-button">ok</button>
					</form>
				</div>
			</div>
			<div class="col s1" style="text-align:right">
				<button type="button" class="pesq-client-button" onclick="showPesqCliente()">
					<i class="small material-icons">search</i>
				</button>
			</div>
		</div>
	</div>
	<table class="table-pendencias">
		<thead>
			<th>Número</th>
			<th>Data</th>
			<th>Cliente</th>
			<th>Pagamento</th>
			<th>Status</th>
		</thead>
		{% for pendencia in visitasPend %}
		<tbody>
			<tr>
				<td data-lable="Numero">
					<a href="/orcs/preorcamento/{{pendencia.numero}}">{{pendencia.numero}}</a>
				</td>
				<td data-lable="Data">
					{{pendencia.data}}
				</td>
				<td data-lable="Cliente">
					{{pendencia.cliente}}
				</td>
				<td data-label="Pagamento">
					{{pendencia.pagamento}}
				</td>
				<td data-label="Status">
					{{pendencia.status}}
				</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	{% endif %}
	{% if orcamPend %}
	<div class="title-section">
		<h5>Propostas</h5>
	</div>
	<div class="subtitle-section">
		<div class="row">
			<div class="col s6">
				<p>
					Você possui <span>34</span> propostas pendentes.
				</p>
			</div>
			<div class="col s3 offset-s2" style="text-align:right">
				<div class="pesq_cliente scale-transition scale-out" id="pesqClientesForm">
					<form method="POST">
						{% csrf_token %}
						{{form.nome_cliente}}
						<button type="submit" class="invisible-button">ok</button>
					</form>
				</div>
			</div>
			<div class="col s1" style="text-align:right">
				<button type="button" class="pesq-client-button" onclick="showPesqCliente()">
					<i class="small material-icons">search</i>
				</button>
			</div>
		</div>
	</div>
	<table class="table-pendencias">
		<thead>
			<th>Número</th>
			<th>Data</th>
			<th>Cliente</th>
			<th>Pagamento</th>
			<th>Status</th>
		</thead>
		{% for pendencia in orcamPend %}
		<tbody>
			<tr>
				<td data-lable="Numero">
					<a href="/orcs/preorcamento/{{pendencia.numero}}">{{pendencia.numero}}</a>
				</td>
				<td data-lable="Data">
					{{pendencia.data}}
				</td>
				<td data-lable="Cliente">
					{{pendencia.cliente}}
				</td>
				<td data-label="Pagamento">
					{{pendencia.pagamento}}
				</td>
				<td data-label="Status">
					{{pendencia.status}}
				</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	{% endif %}
	{% if contrPend %}
	<div class="title-section">
		<h5>Contratos</h5>
	</div>
	<div class="subtitle-section">
		<div class="row">
			<div class="col s6">
				<p>
					Você possui <span>34</span> contratos pendentes.
				</p>
			</div>
			<div class="col s3 offset-s2" style="text-align:right">
				<div class="pesq_cliente scale-transition scale-out" id="pesqClientesForm">
					<form method="POST">
						{% csrf_token %}
						{{form.nome_cliente}}
						<button type="submit" class="invisible-button">ok</button>
					</form>
				</div>
			</div>
			<div class="col s1" style="text-align:right">
				<button type="button" class="pesq-client-button" onclick="showPesqCliente()">
					<i class="small material-icons">search</i>
				</button>
			</div>
		</div>
	</div>
	<table class="table-pendencias">
		<thead>
			<th>Número</th>
			<th>Data</th>
			<th>Cliente</th>
			<th>Pagamento</th>
			<th>Status</th>
		</thead>
		{% for pendencia in contrPend %}
		<tbody>
			<tr>
				<td data-lable="Numero">
					<a href="/orcs/preorcamento/{{pendencia.numero}}">{{pendencia.numero}}</a>
				</td>
				<td data-lable="Data">
					{{pendencia.data}}
				</td>
				<td data-lable="Cliente">
					{{pendencia.cliente}}
				</td>
				<td data-label="Pagamento">
					{{pendencia.pagamento}}
				</td>
				<td data-label="Status">
					{{pendencia.status}}
				</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	{% endif %}
</div>
{% endif %}
<script>
	function showPesqCliente() {
		document.getElementById("pesqClientesForm").classList.toggle("scale-in")
	}
</script>
{% endblock content %}
