<!DOCTYPE html>
<html lang="pt-br">
<head>
	{% load static %}
	<link href="{% static 'main/css/base-style.css' %}" rel="stylesheet" />
	<title>SGQ Camamar</title>
</head>

<body class="login-body">
	<div id="login-content" class="login-content">
		<div class="login-logo">
			<svg width="400" height="700" viewBox="0 0 620 900" fill="none" id="logo-login">
				<path
					d="M320 843C420.516 843 502 827.33 502 808C502 788.67 420.516 773 320 773C219.484 773 138 788.67 138 808C138 827.33 219.484 843 320 843Z"
					fill="#96989A" stroke="#96989A" stroke-width="0.566929" />
				<path
					d="M313 518C441.13 518 545 412.787 545 283C545 153.213 441.13 48 313 48C184.87 48 81 153.213 81 283C81 412.787 184.87 518 313 518Z"
					fill="#ED3237" stroke="#ED3237" stroke-width="0.566929" />
			</svg>
		</div>
		<div id="login-text" class="login-text">
			<h1>Sistema de gestão de qualidade</h1>
			<h5>Para continuar, faça o seu login</h5>
			<button type="button" onclick=showForm()>Entrar</button>
		</div>
		<form method="POST" id="login-form" class="login-form">
			{% csrf_token %}
			<input type="text" name="username" maxlength="200" placeholder="Usuário">
			<input type="password" name="password" maxlength="200" placeholder="Senha">
			<button type="submit">Entrar</button>
		</form>
	</div>
	<script>
		function showForm() {
			const textToHide = document.getElementById("login-text")
			textToHide.classList.toggle("hide")
			document.getElementById("login-content").classList.remove("login-content")
			document.getElementById("login-content").classList.add("login-content-display-form")
			document.getElementById("login-form").classList.toggle("display")
		}
	</script>
</body>
