/* variables */
:root{
  --primary: #ED3237;
  --secondary: #36CF1C;
  --background: #FFFFFF;
  --background2: #E7E7E7;
  --card-color: #F3FFF1;
  --secondary-dark: #2DAD17;
}

/* fonts */
@font-face{
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto-Regular.ttf')
}
@font-face{
  font-family: 'Butler-Regular';
  src: url('fonts/Butler_Regular.otf')
}

/* mobile style */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-services {
  display: grid;
  width: 80%;
  grid-gap: 1em;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
}

.grid-services a {
  margin-bottom: 50px;
}

.grid-services svg {
  width: 700px;
  height: 500px;
}

body {
  font-size: 2em;
}

nav {
  height: 3em;
}

nav a, nav ul a {
    color: #000;
  }

h4 {
  font-size: 2.2em;
  margin: 1em 0 0.7em;
}

h5 {
  font-size: 1.8em;
}

label {
  font-size: 1em;
}

input {
  font-size: 1em;
}

.title-page {
  font-family: 'Butler-Regular';
}

.title-page-red * {
  color: var(--primary);
}

.title-section h5 {
  color: var(--primary);
}

.title-section {
  margin: 1em 0 0.8em;
}

.title-left h4 {
  text-align: center;
}

.title-left h4 span {
  color: var(--primary);
}

.title-table {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.title-table .title-section-orcs {
  text-align: center;
  margin-top: 1em;
  color: var(--primary);
}

.title-table .title-table-orcs {
  text-align: center;
  margin-top: 2em;
}

.endereco-orcamento{
  font-family: 'Butler-Regular';
  font-size: 1.4em;
  color: var(--primary);
  text-align: center;
  margin-bottom: 50px;
}

.subtitle-section {
  margin-top: 1.2em;
}

.subtitle-section span {
  color: var(--secondary);
  font-weight: bold;
}

.content {
  width: auto;
  margin: 0px 30px 0px;
}

.divider {
  height: 3px;
}

table td, table th{
  border-bottom: 1px solid #dddddd;
}

.table-servicos td, .table-servicos th, 
.table-insumos td, .table-insumos th,
.table-generic-orcs td, .table-generic-orcs th {
  text-align: left;
}

.table-pendencias thead, 
.table-servicos thead, 
.table-insumos thead,
.table-generic-orcs thead {
  background-color: var(--background2);
  color: #000;
}

.table-pendencias,
.table-servicos, 
.table-insumos {
  margin-bottom: 120px;
}

.table-generic-orcs {
  margin-bottom: 50px
}

.card-content {
  min-height: 3em;
  padding: 15px 15px 15px 0px;
  width: 90%;
}

.select-app {
  text-align: center;
  margin-bottom: 1.5em;
}

.form-group-of-fields {
  margin-left: 0;
  border-radius: 15px;
  border: var(--secondary-dark) solid 2px;
  padding: 10px;
}

.title-forms-fields {
  margin: 2em 0 1em 0;
	font-size: 1.4em;
	text-align: center;
  color: var(--primary);
}

.collection {
  margin: 0.5rem 0.5em 1rem 0.5em;
}

.collection .collection-item {
  line-height: 1.6;
}

.pesq-client-button {
  margin: 1.5em 0 0;
  color: var(--secondary);
  background-color: var(--background);
  cursor: pointer;
}

.submit-end-page {
  padding: 15px 60px 15px;
  margin: 4em 0 1.5em 41%;
}

.submit-ok {
  height: 2em;
  padding: 15px;
  left: 95%;
}

.sidenav {
  width: 450px;
}

.sidenav li {
  margin-top: 2em;
}

.sidenav span {
  font-size: 2em;
  margin-left: 30px;
}

.sandwich-line1, .sandwich-line2, .sandwich-line3 {
  background-color: white;
  width: 40px;
  height: 4px;
  margin: 15px 13px;
  transition: 0.4s;
}

.change .sandwich-line1{
  transform: rotate(-45deg) translate(-20px, 19px);
}

.change .sandwich-line2{
  opacity: 0;
}

.change .sandwich-line3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

#content-menu a, #content-menu span {
    color: white;
    font-size: 40px;
  }

#content-menu p, #content-menu span {
  margin-top: 100px;
}


/* small tablet styles */
@media screen and (max-width: 600px){

}

/* large tablets & laptops styles */
@media screen and (min-width: 1200px){
  body {
    font-size: 1em;
  }

  .grid-services {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-services a {
    margin-bottom: 50px;
  }

  .grid-services svg {
    width: 300px;
    height: 250px;
  }

  nav {
    height: 80px;
    line-height: 64px;
  }

  h4 {
    font-size: 2.5em;
  }

  h5 {
    font-size: 1.4em;
  }

  input {
    font-size: 16px;
  }

  .title-page {
    margin: 5em 0 3em;
  }

  .title-page-without-address {
    margin-bottom: 2em;
  }

  .title-table .title-table-orcs {
    text-align: left;
    margin-top: 3em;
  }

  .title-table .title-section-orcs {
    text-align: left;
  }

  .title-left h4 {
    text-align: left;
  }

  .endereco-orcamento{
    text-align: left;
  }

  .content{
    margin: 30px 100px 30px;
  }

  .pesq-client-button {
    margin-top: 1em;
  }

  .divider {
    height: 1px;
  }

  .form-edit-proposta {
    margin-top: 50px;
  }

  .table-pendencias,
  .table-servicos, 
  .table-insumos {
    margin-bottom: 120px;
  }

  .table-generic-orcs {
    margin-bottom: 50px
  }

  .form-group-of-fields {
    margin-left: 200px;
    border-radius: 15px;
    padding: 10px;
  }

  .title-forms-fields {
    text-align: left;
  }

  .card-image {
    height: 310px;
  }

  .card-content {
    min-height: 105px;
    padding: 15px 15px 15px 0px;
    width: 90%;
  }

  .card-content p {
    font-size: 1.2em;
  }

  .table-insumos {
    margin-top: 50px;
  }

  .submit-hover{
    height: 50px;
	  padding: 20px;
  }

  .submit-end-page {
    padding: 15px 30px 15px;
    margin-left: 200px;
  }

  .submit-ok{
    height: 3.5em;  
    padding: 15px;
  }

  .sandwich-line1, .sandwich-line2, .sandwich-line3{
    width: 30px;
    height: 3px;
    margin: 8px 4px;
  }

  .change .sandwich-line1{
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  #content-menu a, #content-menu span{
    color: white;
    font-size: 30px;
  }

  #content-menu p, #content-menu span {
    margin-top: 15px;
  }

}


/* base styles */

header, body, footer{
	font-family: 'Roboto-Regular';
}

body{
  background: var(--background);
  margin: 0;
}

footer{
	width: 100%;
	padding: 10px;
	background: #000000;
	color: #FFFFFF;
	text-align: center;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
}

nav{
  background-color: var(--background);
  color: #000;
  margin: 0 100px 0 100px;
  padding: 10px 10px 10px;
  width: auto;
  border-bottom: var(--background2) 3px solid;
  box-shadow: none;
}

nav li {
  padding: 10px 0 10px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 400;
  text-align: center;
  color: #000000;
}

label{
  color: var(--primary);
}

button{
  position: relative;
  border: none;
}

.input-field > label {
  font-size: 1em;
}

table{
  width: 100%;
  margin: auto;
  padding-bottom: 1em;
  margin-top: 1em;
}

table td, table th{
  padding: 12px 15px;
  text-align: center;
}

table tr {
  height: 69px;
  border-bottom: none;
}

table thead{
  color: #000;
}

tfoot td {
  border-bottom: none;
}

.tfoot-button button {
  width: 100%;
  margin-top: 20px;
}

.tfoot-button .submit-hover {
  height: 60px;
}

.config-table td, .config-table th {
  text-align: left;
}

.title-orcs {
  margin-bottom: 0px;
}

.title-table {
  font-size: 1.2em;
}


.title-form-after-table {
  font-size: 1.3em;
  text-align: left;
  margin-top: 6em;
  margin-bottom: 1.2em;
}



img.logo_nav{
  vertical-align: middle;
  width: 230px;
}

/* Cards */
.card {
  transition: .5s ease-in-out;
}

.card:hover {
  background-color: var(--secondary);
}

.card-content {
  color: black;
  border-top: solid 1px black;
  margin: auto
}


.card-image {
  padding: 15px;
}

.card-image * {
  transition: .5s ease-in-out;
}


/* SVGs of cards */
.svg-veneziana-change, .svg-chapa-fixa-plana, .svg-chapa-retratil-plana {
  width: 100%;
}

.card:hover .svg-veneziana-change {
  fill: #A3A3A3;
  fill-opacity: 0.5;
}

.card:hover .svg-veneziana-change-line {
  stroke: #8F8F8F;
}

.card:hover .svg-veneziana-change-perfil-frente {
  stroke: #757575;
  fill: #757575;
}

.card:hover .svg-veneziana-change-perfil-frente-line {
  stroke: #757575;
}

.card:hover .svg-veneziana-change-perfil-lateral {
  stroke: #3F3F40;
  fill: #3F3F40;
}


.card:hover .svg-chapa-fixa-plana .sombra-telhado, 
.card:hover .svg-chapa-fixa-plana .telhado {
  stroke: #CBB07C;
  fill: #CBB07C;
}


.card:hover .svg-chapa-fixa-plana .policarbonato, 
.card:hover .svg-chapa-retratil-plana .policarbonato,
.card:hover .svg-chapa-fixa-curva .policarbonato,
.card:hover .svg-chapa-retratil-curva .policarbonato {
  stroke: #5E5E5E;
  fill: #5E5E5E;
}

.card:hover .svg-chapa-fixa-plana .calha {
  stroke: #373435;
  fill: #373435;
}

.card:hover .svg-chapa-fixa-plana .alvenaria,
.card:hover .svg-chapa-retratil-plana .alvenaria,
.card:hover .svg-chapa-fixa-curva .alvenaria,
.card:hover .svg-chapa-retratil-curva .alvenaria {
  stroke: #F5F0D3;
  fill: #F5F0D3;
}

.card:hover .svg-chapa-fixa-plana .janela,
.card:hover .svg-chapa-retratil-plana .janela, 
.card:hover .svg-chapa-retratil-plana .telhado,
.card:hover .svg-chapa-fixa-curva .janela, 
.card:hover .svg-chapa-fixa-curva .placa {
  stroke: #6D6D6D;
  fill: #6D6D6D;
}

.card:hover .svg-chapa-retratil-curva .portao {
  stroke: #727376;
  fill: #727376;
}



.divider{
  overflow: hidden;
  box-sizing: inherit;
  font-size: 15px;
  background-color: black;

}

.container-content{
  margin-top: 30px;
  margin-right: 15%;
  margin-left: 15%;
  background: #FFFFFF;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, .24), 0 1.5px 6px rgba(0, 0, 0, .12);
  padding: 20px;
}

footer a{
	color: #FFFFFF;
}

span.checkbox-grid {
	margin-top: 20px;
}

.form-add-to-table {
  margin-top: 50px;
}

.icon-button {
  padding: 15px 20px;
}

.submit-end-page span {
  vertical-align: super;
}

.submit-hover{
  background: var(--primary);
  color: var(--background);
	cursor: pointer;
	transition:.8s ease all;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, .24), 0 1.5px 6px rgba(0, 0, 0, .12);
}

.submit-hover:hover{
  background:var(--background);
  color:var(--primary);
}

.submit-hover:before, .submit-hover:after{
	content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--primary);
  transition:.4s ease all;
}

.submit-hover:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.submit-hover:hover:before, .submit-hover:hover:after{
  width:100%;
  transition:.4s ease all;
}

.generic-action-icon-button {
  background: #FFFFFF;
  cursor: pointer;
  color: var(--secondary);
  transition: .5s ease all;
}

.generic-action-icon-button:hover {
  color: var(--primary);
}

a{
	color: var(--secondary);
}

/* link button for add new */
.link-button {
  position: absolute;
  height: 43px;
  width: 100px;
  padding: 0;
  margin: -10px 0 0;
  background: var(--background);
}

.link-button:hover {
	background-color: var(--secondary);	
  transition: .6s ease-in;
  transition-delay: .7s;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, .24), 0 1.5px 6px rgba(0, 0, 0, .12);
}

.link-button .add-text{
  position: relative;
  color: var(--background);
  margin-left: 6px;
  visibility: hidden;
}

.link-button:hover .add-text {
  transition: .5s;
	transition-delay: .8s;
  visibility: visible;
}

.link-button  .add-signal-vert1, .link-button  .add-signal-horiz1 {
  position: absolute;
  content: "";
  background: var(--secondary);
}


.link-button  .add-signal-vert1 {
  width: 2px;
  height: 20px;
  margin: 10px 10px 0px;
}

.link-button  .add-signal-horiz1 {
  width: 20px;
  height: 2px;
  margin: 20px 0px 0px;
}

.link-button:hover .add-signal-vert1, .link-button:hover .add-signal-horiz1 {
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  margin: 0;
  transform: rotate(720deg);
  transition: .8s ease-in;
}

/* Menu full-screen */
#content-menu {
  vertical-align: middle;
  text-align: center;
  background-color: var(--secondary-dark);
  color: white;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  position: absolute;
  padding: 100px 0px 0px;
  opacity: 0;
	transition: opacity 1s;
  overflow: hidden;
}

#content-for-hidden {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity .5s;
}

#content-for-hidden.change {
  opacity: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

#content-menu.change {
  opacity: 1;
  width: 100%;
  height: 100%;
  display: block;
}

.responsible-button{
  background-color: var(--secondary);
  cursor: pointer;
  position: fixed;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  border: 0px;
	box-shadow: 1px 2px 2px rgba(0,0,0,.6);
}

.responsible-button.change{
  background-color: var(--secondary-dark);
	right: 30px;
	box-shadow: 0px 0px 0px;
}

.responsible-button:focus{
	background-color: var(--secondary-dark);
}


/* Pop up */
#popup-delete {
  position: relative;
  font-size: 30px;
  cursor: default;
}

#popup-delete span{
  display: block;
  cursor: pointer;
  width: 100%;
}

.popup-text {
  cursor: default;
  width: 300px;
  color: var(--primary);
  background-color: var(--secondary);
}

.popup-button-sim, .popup-button-nao {
  cursor: pointer;
  width: 150px;
  color: white;
  background-color: var(--primary);
  border-radius: 20px;
  letter-spacing: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}


.popup-text, .popup-button-sim, .popup-button-nao{
  opacity: 0;
  font-size: 20px;
  margin-left: 20px;
  text-align: center;
  padding: 8px 0;
  position: relative;
  visibility: hidden;
  transition: opacity 0.5s linear;
}

.popup-text::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
}

.show {
  visibility: visible;
  opacity: 1;
}


/* modals */

.modal {
  margin-top: 80px;
  z-index: 1;
  top: 0;
  animation-name: animationModalShow;
  animation-duration: 0.5s
}

.modal-show {
  display: block;
}

.close-modal {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  margin-bottom: 90px;
}

.modal-content .first-row, .modal-content p {
  margin-top: 1.5em;
}

.modal-content .form-field {
  margin: 15px 0px 10px;
  padding: 0 0.75rem;
}

.modal-content input[type=text] {
  width: 99%;
}

.ok-modal {
  position: absolute;
  font-weight: 600;
  right: 0;
  margin: 30px 20px 20px 0px;
  height: 60px;
  width: 60px;
  padding: 15px;
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition:.8s ease all;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, .24), 0 1.5px 6px rgba(0, 0, 0, .12);
}

.ok-modal:hover{
  background:#FFFFFF;
  color:var(--secondary);
}

.ok-modal:before, .ok-modal:after{
	content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--secondary);
  transition:.4s ease all;
}

.ok-modal:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.ok-modal:hover:before,  .ok-modal:hover:after{
  width:100%;
  transition:.8s ease all;
}


/* set in up the color of focus input elements */
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: var(--primary);
  box-shadow: none;
  color: var(--primary);
}


/* animations */
@keyframes animationModalShow {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}