{% extends "main/basePage.html" %}
	{% block content %}
		<div class="content">
			<div class="title-page">
				<h4>{{parametros.nomeseq}} para {{parametros.nomecliente}}</h4>
			</div>
			<form method="POST">
				{% csrf_token %}
				<p>Use as opções abaixo para identificar o local</p>
				<div class="divider"></div>
				<br>
				<br>
				{% if parametros.codlogr != 0 %}
					<p><label class="black-text"><strong>Logradouro:</strong></label></p>
				{% else %}
					<p><label class="black-text"><strong>Bairro:</strong></label></p>
				{% endif %}
				<nav>
					<div class="nav-wrapper grey lighten-3">
						<div class="col s12">
							<a href="mudaestado/{{parametros.regiao}}" class="breadcrumb black-text">&nbsp{{parametros.regiao}}</a>
							<a href="mudaestado/{{parametros.regiao}}" class="breadcrumb black-text">{{parametros.nomeuf}}</a>
							<a href="mudamunicipio/A-B-C.1" class="breadcrumb black-text">{{parametros.nomemuni}}</a>
							<a href="mudabairro/A-B-C.1" class="breadcrumb black-text">{{parametros.nomebair}}</a>
							<a href="mudalogradouro" class="breadcrumb black-text">{{parametros.nomelogr}}</a>
						</div>
					</div>
				</nav>
				<br>
				<br>
				<label for="complemento" class="black-text"><strong>Complemento:</strong></label>
				<input type="text" name="complemento" placeholder="Numero, Quadra, Lote, etc." maxlength="200"
					required id="complemento" value="{{ parametros.complemento }}" required>
				<br>
				<br>
				<div class="row">
					<div class="col s1 offset-s12" style="padding:0px;">
						<button class="submit-hover" name="proximo" type="submit" style="padding: 15px 20px 15px 20px;"><i class="material-icons">navigate_next</i></button>
					</div>
				</div>
			</form>
		</div>
	{% endblock content %}
	{% block footer %}
		<footer>
			<ul style="list-style-type:none;">
				<li><a href="/procs/comercial/012">Como incluir um endereço do cliente?</a></li>
				<li><a href="/procs/comercial/">Exibir todos os procedimentos do departamento comercial</a></li>
			</ul>
		</footer>
	{% endblock footer %}
