{% extends "main/base-page-comercial.html" %}
{% block content %}
<div class="content">
	<div class="title-page title-left">
		<h4>Informar Cliente Solicitante</h4>
	</div>
	<form method="POST">
		{% csrf_token %}
		<div class="row">
			<div class="col s12">
				<label>Nome</label>
				<input type="text" name="nome" placeholder="Informação obrigatória" maxlength="200" required>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<label>Telefone</label>
				<input type="text" name="fone" size="20" maxlength="15">
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<label>Email</label>
				<input type="email" class="validate" name="email">
			</div>
		</div>
		<br>
		<br>
		<button class="submit-ok submit-hover" name="proximo" type="submit" value="proximo">
			<i class="material-icons">navigate_next</i>
		</button>
	</form>
</div>
{% endblock content %}