{% extends "main/basePage.html" %}
{% block content %}
<div class="content">
  <div class="title-page">
    <h4>Alterar status do orçamento do {{orcamento.nomecliente}}</h4>
  </div>
  <div class="endereco-orcamento">
    {{ orcamento.endereco }}
    <div class="divider"></div>
  </div>
  <form method="POST">
    {% csrf_token %}
    <div class="form-field">
      <div class="row">
        <div class="col s12 input-field">
          <input disabled type="text" value="{{ desconto_ant.desconto }}%" id="desconto_ant">
          <label for="desconto_ant">Desconto Anterior</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 input-field">
          {{ form.valor_desconto }}
          <label for="id_valor_desconto">Valor Desconto (%)</label>
        </div>
      </div>
    </div>
    <br>
    <br>
    <button class="submit-ok submit-hover" name="btnAlterar" type="submit" value="btnAlterar">
      <i class="material-icons">check</i>
    </button>
  </form>
</div>
{% endblock content %}
