{% for insumo in insumos %}
<div class="row">
    <div class="col s1">
        {{insumo.item}}
    </div>
    <div class="col s4">
        <a href="./{{idEap}}/alterar-insumo-atividade/{{insumo.id}}">
            {{insumo.descricao}}
        </a>
    </div>
    <div class="col s1" style="text-align:center;">
        {{insumo.quantidade}}
    </div>
    <div class="col s1" style="text-align:center;">
        {{insumo.unidade}}
    </div>
    <div class="col s2" style="text-align:center;">
        {{insumo.custo}}
    </div>
    <div class="col s2" style="text-align:center;">
        {{insumo.valorTotal}}
    </div>
    <div class="col s1" style="text-align:center;">
        <button class="generic-action-icon-button" value="{{insumo.id}}" onclick=deleteInputService(this.value)>
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>
{% endfor %}