{% extends "main/base-page-comercial.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="content">
	<div class="title-page title-left title-page-without-address">
		<h4>Insumos do serviço do <span>{{orcamento.desccliente}}</span></h4>
	</div>
	<div class="divider"></div>
	<div class="title-table">
		<h5 class="title-table-orcs">INSUMOS</h5>
	</div>
	<table class="table-generic-orcs">
		<thead>
			<th>Item</th>
			<th>Descrição</th>
			<th>Qtd.</th>
			<th>Unid.</th>
			<th>Vlr. Unit.</th>
			<th>Vlr. Total</th>
			<th></th>
			<th></th>
		</thead>
		<tbody id="id_insumosServico">
			{% for insumo in insumos %}
			<tr>
				<td>{{insumo.item}}</td>
				<td>
					<a href="./{{idEap}}/alterar-insumo-atividade/{{insumo.id}}">
						{{insumo.descricao}}
					</a>
				</td>
				<td>{{insumo.quantidade}}</td>
				<td>{{insumo.unidade}}</td>
				<td>{{insumo.custo}}</td>
				<td>{{insumo.valorTotal}}</td>
				<td>
					<button class="generic-action-icon-button" value="{{itemeap.codeap}}" onclick=editService(this.value)>
						<i class="material-icons">edit</i>
					</button>
				</td>
				<td>
					<button class="generic-action-icon-button" value="{{insumo.id}}" onclick=deleteInputService(this.value)>
						<i class="material-icons">delete</i>
					</button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<form method="POST" class="form-add-to-table" onsubmit=addNewBudgetInput(event)>
				{% csrf_token %}
				<td colspan="2">
					<label>Novo Insumo</label>
					{{ form.insumo }}
				</td>
				<td colspan="2">
					<a class="link-button" href="../../../cad-insumo/">
						<span class="add-signal-vert1"></span>
						<span class="add-signal-horiz1"></span>
						<p class="add-text">CADASTRAR</p>
					</a>
				</td>
				<td>
					<label>Quantidade</label>
					{{ form.quant_insumo }}
				</td>
				<td>
					<label>Valor Unitário</label>
					{{ form.valor_insumo }}
				</td>
				<td>
					<button class="generic-action-icon-button" type="submit">
						<i class="material-icons">add</i>
					</button>
				</td>
				
			</form>
		</tfoot>
	</table>
	<a href="../../{{orcamento.codorcamento}}" style="text-align: left;">
		<i class="medium material-icons">reply_all</i>
	</a>
</div>
<script>
	function addNewBudgetInput(e) {
		e.preventDefault()
		const dataToBackend = new FormData()
		dataToBackend.append("insumo", document.getElementById("id_insumo").value)
		dataToBackend.append("quant_insumo", document.getElementById("id_quant_insumo").value)
		dataToBackend.append("valor_insumo", document.getElementById("id_valor_insumo").value)
		const request = new Request('./{{idEap}}/ajax/inserir-insumo-servico/',
		{
			method: 'POST',
			headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value },
			body: dataToBackend
		})
		fetch(request, {
			method: 'POST',
			mode: 'same-origin'
		}).then(
			function(response) {
				if (response.status === 200) {
					M.toast({ html: "Insumo adicionado", classes: 'green rounded', displayLength: 2000 })
					let xhttp = new XMLHttpRequest()
					xhttp.onreadystatechange = function(data) {
						if (this.readyState === 4 && this.status === 200) {
							document.getElementById("id_insumosServico").innerHTML = this.response
						} else if (this.readyState === 4 && this.status !== 200) {
							M.toast({ html: "Erro ao atualizar lista de insumos, por favor recarregue a página", classes: 'red rounded', displayLength: 3000 })
						}
					}
					xhttp.open("GET", './{{idEap}}/ajax/carregar-insumo-servico/')
					xhttp.send()
				} else if (response.status === 400) {
					M.toast({ html: "Dados inválidos", classes: 'red rounded', displayLength: 3000 })
				} else {
					M.toast({ html: "Erro", classes: 'red rounded', displayLength: 3000 })
				}
			}
		)

	}

	function deleteInputService(idInputService) {
		const request = new Request(`./ajax/excluir-insumo-servico/${idInputService}`,
		{
			method: 'DELETE',
			headers: { 'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value },
		})
		fetch(request, {
			method: 'DELETE',
			mode: 'same-origin'
		}).then(
			function(response) {
				if (response.status === 204) {
					M.toast({ html: "Insumo excluído", classes: 'green rounded', displayLength: 2000 })
					let xhttp = new XMLHttpRequest()
					xhttp.onreadystatechange = function(data) {
						if (this.readyState === 4 && this.status === 200) {
							document.getElementById("id_insumosServico").innerHTML = this.response
						} else if (this.readyState === 4 && this.status !== 200) {
							M.toast({ html: "Erro ao atualizar lista de insumos, por favor recarregue a página", classes: 'red rounded', displayLength: 3000 })
						}
					}
					xhttp.open("GET", './{{idEap}}/ajax/carregar-insumo-servico/')
					xhttp.send()
				} else if (response.status === 400) {
					M.toast({ html: "Dados inválidos", classes: 'red rounded', displayLength: 3000 })
				} else {
					M.toast({ html: "Erro", classes: 'red rounded', displayLength: 3000 })
				}
			}
		)

	}
</script>
{% endif %}
{% endblock content %}
