{% extends "main/basePage.html" %}
{% block content %}
	{% if user.is_authenticated %}
		<div class="content">
			<div class="title-page">
				<h4>Editar Dados do Contrato</h4>
			</div>
			<div class="endereco-orcamento">
				<div class="divider"></div>
			</div>
			<form method="post">
				{% csrf_token %}
				<div class="row">
					<div class="col s6 input-field">
						<input type="text" name="nomeCliente" maxlength="300" value="{{ orcamento.nome }}" required>
						<label>Nome do Cliente</label>
					</div> 
					<div class="col s3 input-field">
						<input type="text" name="cnpj" maxlength="14" value="{{ orcamento.cnpj }}" required>
						<label>CPF/CNPJ</label>
					</div>
					<div class="col s3 input-field">
						<input type="text" name="telefone" maxlength="20" value="{{ orcamento.telefone }}" required>
						<label>Telefone</label>
					</div>
				</div>
				<div class="row">
					<div class="col s10">
						<label>Empresa</label>
						{{ form.empresa }}
					</div>
					<div class="col s2">
						<a href="../../../clientes/dados-empresa/{{ orcamento.codCliente }}">
							EDITAR CADASTRO DA EMPRESA
							{{ orcamento.codCliente }}
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<label>Endereço da Obra</label>
						<input type="text" name="enderecoObra" maxlength="500" value="{{ orcamento.endereco }}" disabled>
					</div>
				</div>
				<div class="row">
					<div class="col s6">
						<label>Condição de Pagamento</label>
						{{ form.condPgto }}
					</div>
					<div class="col s6">
						<label>Vendedor(a)</label>
						{{ form.vendedor }}
					</div>
				</div>
				<div class="row">
					<div class="col s6 input-field">
						<input type="text" name="prazoObra" maxlength="10" value="{{ orcamento.prazoObra }}" required>
						<label>Prazo de Execução</label>
					</div>
				</div>
				<br>
				<br>
				<button class="submit-ok submit-hover" name="btnProximo" type="submit" value="btnProximo">
					<i class="material-icons">navigate_next</i>
				</button>
			</form>
		</div>
	{% endif %}
{% endblock content %}
