{% extends "main/basePage.html" %}
{% block content %}
  {% if user.is_authenticated %}
  <div class="content">
    <div class="title-page">
      <h4>Editar EAP</h4>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col s12">
          <label>Texto antigo</label>
          <input type="text" name="texto_antigo" maxlength="400" value="{{ eap.descitem }}" disabled />
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <label>Texto novo</label>
          <input type="text" name="texto_novo" maxlength="400" value="{{ eap.descitem }}" />
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Código da eap antigo</label>
          <input type="text" name="codigo_eap_antigo" maxlength="10" value="{{ eap.codeap }}" disabled />
        </div>
        <div class="col s6">
          <label>Código da eap novo</label>
          <input type="text" name="codigo_eap_novo" maxlength="10" value="{{ eap.codeap }}" />
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Valor unitário antigo</label>
          <input type="text" name="valor_unitario_antigo" maxlength="20" value="{{ eap.vlrunit }}" disabled />
        </div>
        <div class="col s6">
          <label>Valor unitário novo</label>
          <input type="text" name="valor_unitario_novo" maxlength="20" value="{{ eap.vlrunit }}" />
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Quantidade antiga</label>
          <input type="text" name="quantidade_antiga" maxlength="20" value="{{ eap.qtdorc }}" disabled />
        </div>
        <div class="col s6">
          <label>Quantidade nova</label>
          <input type="text" name="quantidade_nova" maxlength="20" value="{{ eap.qtdorc }}" />
        </div>
      </div>
      <br>
      <br>
      <button class="submit-ok submit-hover" name="btnInserir" type="submit" value="btnInserir">
        <i class="material-icons">navigate_next</i>
      </button>
    </form>
  </div>
{% endif %}
{% endblock content %}
