{% extends "main/base-page-comercial.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="content">
	<div class="title-page title-left title-orcs">
		<h4>Proposta para <span>{{orcamento.desccliente}}</span></h4>
	</div>
	<div class="endereco-orcamento">
		{{ orcamento.endereco }}
	</div>
	<div class="divider"></div>
	<div class="form-edit-proposta">
		<form method="post">
			{% csrf_token %}
			<h5 class="title-forms-fields">Dados cliente</h5>
			<div class="form-group-of-fields">
				<div class="row">
					<div class="col s2">
						<label for="id_tratamento">Tratamento</label>
						<input type="text" name="tratamento" id="id_tratamento" maxlength="20" value="{{ orcamento.tratamento }}" required>
					</div>
					<div class="col s10">
						<label for="id_nomeCliente">Nome do Cliente</label>
						<input type="text" name="nomeCliente" id="id_nomeCliente" maxlength="300" value="{{ orcamento.nomecliente }}" required>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<label>Empresa</label>
						{{ form.empresa }}
					</div>
				</div>
			</div>
			<h5 class="title-forms-fields">Dados proposta</h5>
			<div class="form-group-of-fields">
				<div class="row">
					<div class="col s6">
						<label>Condição de Pagamento</label>
						{{ form.condPgto }}
					</div>
					<div class="col s6">
						<label>Vendedor(a)</label>
						{{ form.vendedor }}
					</div>
				</div>
				<div class="row">
					<div class="col s6">
						<label for="id_prazoObra">Prazo de Execução</label>
						<input type="text" name="prazoObra" id="id_prazoObra" maxlength="5" value="{{ dadosOrcamento.prazoObra }}" required>
					</div>
					<div class="col s6">
						<label for="id_prazoValidade">Prazo de Validade</label>
						<input type="text" name="prazoValidade" id="id_prazoValidade" maxlength="10" value="{{ dadosOrcamento.prazoValidade }}" required>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<label for="id_tipo_proposta">Tipo de Proposta</label>
						{{ form.tipo_proposta }}
					</div>
				</div>
			</div>
			<button class="submit-hover submit-end-page" name="btnProximo" type="submit">
				<span>Ok </span>
				<i class="material-icons">navigate_next</i>
			</button>
		</form>
	</div>
</div>
{% endif %}
{% endblock content %}
