<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% load static %}
    <link href="{% static 'orcs/css/print-budget.css' %}" rel="stylesheet"/>
    <title>SGQ</title>
  </head>
  <body>
    <table class="table-page">
      <thead>
        <tr>
          <td>
            <div class="header-space">&nbsp;</div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <section class="content">
              <h1>Proposta Comercial</h1>
              <p class="date-on-the-left">Goiânia - GO, {{ today }}.</p>
              <div class="greetings">
                {% if dadosProposta.empresa %}
                  {% if dadosProposta.genero_empresa == 0 %}
                    <p>À</p>
                  {% else %}
                    <p>Ao</p>
                  {% endif %}
                  <p>{{ dadosProposta.empresa }}</p>
                  <p>Att.: {{ dadosProposta.tratamento }} {{ dadosProposta.cliente }}</p>
                {% else %}
                  {% if dadosProposta.genero == 0 %}
                  <p>À</p>
                  {% else %}
                  <p>Ao</p>
                  {% endif %}
                  <p>{{ dadosProposta.tratamento }} {{ dadosProposta.cliente }}</p>
                {% endif %}
                {% if tipoProposta != 2 %}
                  <p>End. Obra: {{ dadosProposta.enderecoObra }}</p>
                {% endif %}
              </div>
              <div class="services-section unbreakable">
                {% if tipoProposta != 2 %}
                  {% if insumos %}
                  <p>
                    Conforme a solicitação viemos por meio desta apresentar a proposta de
                    preços para fornecimento de <strong>material</strong> e <strong>mão de obra especializada</strong> para
                    a execução de:
                  </p>
                  {% else %}
                  <p>
                    Conforme a solicitação viemos por meio desta apresentar a proposta de
                    preços para fornecimento de <strong>mão de obra especializada</strong> para a execução de:
                  </p>
                  {% endif %}
                {% else %}
                  <p>
                    Conforme a solicitação viemos por meio desta apresentar a proposta de
                    preços para fornecimento de <strong>material</strong> para a execução de:
                  </p>
                {% endif %}
                <table class="table-content">
                  <thead>
                    <th style="width:8%;">Item</th>
                    <th style="width:92%;">Descrição</th>
                  </thead>
                  <tbody>
                    {% for descricao in listDescricoesOrc %}
                    <tr>
                      <td>{{ descricao.codEap }}</td>
                      <td>{{ descricao.descricao }}.</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% if insumos %}
                <section class="unbreakable">
                  <div class="subtitle">
                    Insumos
                  </div>
                  <div class="subtitle-text">
                    <ul style="padding-top:0; padding-bottom:0; margin-bottom:0;">
                      {% for insumo in insumos %}
                      <li class="lista-insumos">{{ insumo.descricao }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </section>
              {% endif %}
              <section class="unbreakable">
                <div class="subtitle">
                  Valores Propostos
                </div>
                <div class="subtitle-text">
                  <table class="table-content">
                    <tr>
                      <th style="width:15%;">Código</th>
                      <th style="width:65%;">Descrição</th>
                      <th style="width:20%;">Valor</th>
                    </tr>
                    {% for eap in eapProp %}
                    <tr>
                      <td>
                        {{ eap.codeap }}
                      </td>
                      <td>
                        {{ eap.descitem }}
                      </td>
                      <td>
                        R$ {{ eap.vlrtot_formated }}
                      </td>
                    </tr>
                    {% endfor %}
                    <tfoot>
                      <td colspan="2" style="text-align: right;">Total da proposta: </td>
                      <td>R$ {{ totalProposta }}</td>
                    </tfoot>
                  </table>
                </div>
              </section>
              <section class="unbreakable">
                <div class="subtitle">
                  Condições de Pagamento
                </div>
                <div class="subtitle-text">
                  {{ dadosProposta.condPgto }}. Outras formas de pagamento sob consulta.
                </div>
              </section>
              {% if tipoProposta != 2 %}
              <section class="unbreakable">
                <div class="subtitle">
                  Prazo de Execução da Obra
                </div>
                <div class="subtitle-text">
                  Até {{ dadosProposta.prazoObra }} dias úteis sem chuva, após a assinatura do contrato e o recebimento da entrada.
                </div>
              </section>
              {% endif %}
              <section class="unbreakable">
                <div class="subtitle">
                  Prazo de Validade da Proposta
                </div>
                <div class="subtitle-text">
                  Proposta válida até {{ dadosProposta.prazoValidade }}.
                </div>
              </section>
              <section class="general-information unbreakable">
                <div class="subtitle">
                  <p>Informações Gerais</p>
                </div>
                <div class="subtitle-text">
                  <ul>
                    {% if chapasZincadas %}
                      <li>Para chapas zincadas foi considerado apenas a pintura da face externa dos mesmos;</li>
                    {% endif %}
                    {% if tipoProposta != 2 %}
                    <li>Transporte de todos os materiais por conta da contratada
                      no perímetro urbano de Goiânia - GO;</li>
                    {% endif %}
                    <li>Todos os impostos já inclusos no preço;</li>
                    <li>Sujeito a aprovação de crédito;</li>
                    <li>Valores sujeitos a reajustamento após validade da proposta;</li>
                    <li>O material deverá ser estocado em local coberto, seco e ventilado.</li>
                  </ul>
                </div>
              </section>
              <section class="unbreakable">
                <div class="goodbyes">
                  <p>
                    Agradecemos pela atenção dispensada, despedimo-nos com estima e consideração.
                  </p>
                </div>
                <div class="signature">
                  <p>{{ dadosProposta.vendedor }}</p>
                  <p>XXXXXX COMÉRCIO LTDA.</p>
                  <p>(00) 0000-0000 / {{ dadosProposta.telefoneVendedor }}</p>
                  <p style="font-size:12px;">{{ dadosProposta.email_vendedor }}</p>
                </div>
                <div class="budget-approval">
                  <h4 class="title-approval">
                    Aprovação da Proposta
                  </h4>
                  <p>
                    Confirmo a aprovação da proposta, transformando-a em pedido comercial
                    aprovado, de acordo com suas especificações descritas.
                  </p>
                  <hr>
                  <p style="text-align: center;">Carimbo e assinatura por extenso</p>
                </div>
              </section>
            </section>
            <section class="blank-section">&nbsp;</section>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <div class="footer-space">&nbsp;</div>
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
