{% extends "main/basePage.html" %}
{% block content %}
	{% if user.is_authenticated %}
		<div class="content">
			<div class="title-page">
				<h4>Orçamento para {{orcamento.nomecliente}}</h4>
			</div>
			<div class="endereco-orcamento">
					{{orcamento.endereco}}
				<div class="divider"></div>
			</div>
			<form method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col s12">
						<label>Tipo de Aleta:</label>
						<select name="tipAleta">
							<option selected="selected" disabled></option>
							{% for aleta in aletas %}
							<option value="{{ aleta.codigo }}">{{ aleta.codigo }} - {{ aleta.descricao }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<table class="highlight">
					<thead>
						<tr>
							<th>Base</th>
							<th>Altura</th>
							<th>Repetições</th>
							<th>Rebites por Aleta</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ form.base1 }}</td>
							<td>{{ form.altura1 }}</td>
							<td>{{ form.repet1 }}</td>
							<td>{{ form.rebite1 }}</td>
						</tr>
						<tr>
							<td>{{ form.base2 }}</td>
							<td>{{ form.altura2 }}</td>
							<td>{{ form.repet2 }}</td>
							<td>{{ form.rebite2 }}</td>
						</tr>
						<tr>
							<td>{{ form.base3 }}</td>
							<td>{{ form.altura3 }}</td>
							<td>{{ form.repet3 }}</td>
							<td>{{ form.rebite3 }}</td>
						</tr>
						<tr>
							<td>{{ form.base4 }}</td>
							<td>{{ form.altura4 }}</td>
							<td>{{ form.repet4 }}</td>
							<td>{{ form.rebite4 }}</td>
						</tr>
						<tr>
							<td>{{ form.base5 }}</td>
							<td>{{ form.altura5 }}</td>
							<td>{{ form.repet5 }}</td>
							<td>{{ form.rebite5 }}</td>
						</tr>
					</tbody>
				</table>
				<br>
				<br>
				<div class="row">
					<div class="col s1 offset-s12" style="padding:0px;">
						<button class="submit-hover" name="btnProximo" type="submit" style="padding: 15px 20px 15px 20px;"><i class="material-icons">navigate_next</i></button>
					</div>
				</div>
			</form>
		</div>
	{% endif %}
{% endblock content %}
