{% extends "main/basePage.html" %}
{% block content %}
  <div class="content">
    <div class="title-page">
      <h4>Orçamento para {{orcamento.nomecliente}}</h4>
    </div>
    <div class="endereco-orcamento">
      {{orcamento.endereco}}
      <div class="divider"></div>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="form-field">
        <div class="row">
          <div class="col s12">
            <p class="title-forms-fields">Especificação de Materiais</p>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Chapa</label>
            {{ form.chapa }}
          </div>
          <div class="col s6">
            <label>Perfil Arremate</label>
            {{ form.perfil_arremate }}
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Tampa</label>
            {{ form.tampa }}
          </div>
          <div class="col s6">
            <label>Garra</label>
            {{ form.garra }}
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Parafuso para Arremate</label>
            {{ form.parafuso_arremate }}
          </div>
          <div class="col s6">
            <label>Parafuso para Terças</label>
            {{ form.parafuso_terca }}
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Fita</label>
            {{ form.fita }}
          </div>
          <div class="col s6">
            <label>Selante</label>
            {{ form.selante }}
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Perfil Estrutural Externo</label>
            {{ form.perfil_estrutural_externo }}
          </div>
          <div class="col s6">
            <label>Perfil Estrutural Interno</label>
            {{ form.perfil_estrutural_interno }}
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Tipo de Pintura</label>
            {{ form.tipo_pintura }}
          </div>
          <div class="col s6 input-field" style="margin-top:20px;">
            {{ form.quantidade_pintura }}
            <label for="id_quantPintura">Quantidade Pintura (m²)</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Rufo</label>
            {{ form.rufo }}
          </div>
          <div class="col s6">
            <label>Calha</label>
            {{ form.calha }}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col s12">
            <p class="title-forms-fields">Medidas</p>
          </div>
        </div>
        <div class="row">
          <div class="col s2 input-field">
            {{ form.comprimento }}
            <label for="id_comprimento">Comprimento</label>
          </div>
          <div class="col s2 input-field">
            {{ form.largura }}
            <label for="id_largura">Largura</label>
          </div>
          <div class="col s2 input-field">
            {{ form.declividade }}
            <label for="id_declividade">Declividade</label>
          </div>
          <div class="col s2 input-field">
            {{ form.repeticoes }}
            <label for="id_repeticoes">Repeticoes</label>
          </div>
          <div class="col s2 input-field">
            {{ form.distancia_entre_apoios }}
            <label for="id_distancia_entre_apoios">Distância Apoios</label>
          </div>
          <div class="col s2 input-field">
            {{ form.distancia_entre_maos_f }}
            <label for="id_distancia_entre_maos_f">Dist. Maos Franc.</label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col s12">
            <p class="title-forms-fields">Parâmetros de Drenagem</p>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label>Montante</label>
            {{ form.montante }}
          </div>
          <div class="col s3">
            <label>Jusante</label>
            {{ form.jusante }}
          </div>
          <div class="col s3">
            <label>Lateral Esquerda</label>
            {{ form.lateral_esquerda }}
          </div>
          <div class="col s3">
            <label>Lateral Direita</label>
            {{ form.lateral_direita }}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col s12">
            <p class="title-forms-fields">Funcionários</p>
          </div>
        </div>
        <div class="row">
          <div class="col s3 input-field">
            {{ form.dias_serralheiro }}
            <label for="id_dias_serralheiro">Quantidade de Dias Serralheiro</label>
          </div>
          <div class="col s3 input-field">
            {{ form.quantidade_serralheiro }}
            <label for="id_quantidade_serralheiro">Quantidade de Serralheiros</label>
          </div>
          <div class="col s3 input-field">
            {{ form.dias_auxiliar }}
            <label for="id_dias_auxiliar">Quantidade de Dias Auxiliar</label>
          </div>
          <div class="col s3 input-field">
            {{ form.quantidade_auxiliar }}
            <label for="id_quantidade_auxiliar">Quantidade de Auxiliares</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <p class="title-forms-fields">Outros Parâmetros</p>
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label>Dificuldade da Obra</label>
            {{ form.dificuldade }}
          </div>
          <div class="col s3">
            <label>
              {{ form.aproveitar_estrutura }}
              <span class="checkbox-grid" style="font-size:12px;">Considerar aproveitamento de estrutura</span>
            </label>
          </div>
        </div>
        <br>
        <br>
      <div class="row">
				<div class="col s1 offset-s12" style="padding:0px;">
					<button class="submit-hover" name="btnProximo" type="submit" style="padding: 15px 20px 15px 20px;"><i class="material-icons">navigate_next</i></button>
				</div>
			</div>
    </form>
  </div>
{% endblock content %}
