{% extends "main/basePage.html" %}
{% block content %}
  <div class="content">
    <div class="title-page title-left title-page-without-address">
      <h4>Telhas trapezoidais para <span>{{orcamento.desccliente}}</span></h4>
    </div>
    <div class="divider"></div>
    <form method="POST">
      {% csrf_token %}
      <h5 class="title-forms-fields">Dimensões</h5>
      <div class="form-group-of-fields">
        <div class="row">
          <div class="col s4">
            <label for="id_comprimento">Comprimento</label>
            {{ form.comprimento }}
          </div>
          <div class="col s4">
            <label for="id_largura">Largura</label>
            {{ form.largura }}
          </div>
          <div class="col s4">
            <label for="id_declividade">Declividade</label>
            {{ form.declividade }}
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <label for="id_repeticoes">Repeticoes</label>
            {{ form.repeticoes }}
          </div>
          <div class="col s4">
            <label for="id_distancia_entre_apoios">Distância Apoios</label>
            {{ form.distancia_entre_apoios }}
          </div>
          <div class="col s4">
            <label for="id_distancia_entre_maos_f">Dist. Maos Franc.</label>
            {{ form.distancia_entre_maos_f }}
          </div>
        </div>
      </div>
      <h5 class="title-forms-fields">Telha</h5>
      <div class="form-group-of-fields">
        <div class="row">
          <div class="col s12">
            <label>Telha</label>
            {{ form.telha }}
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Parafuso de Costura</label>
            {{ form.parafuso_costura }}
          </div>
          <div class="col s6">
            <label>Parafuso de Fixação</label>
            {{ form.parafuso_fixacao }}
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label>Selante</label>
            {{ form.selante }}
          </div>
        </div>
      </div>
      <h5 class="title-forms-fields">Estrutura</h5>
      <div class="form-group-of-fields">
        <div class="row">
          <div class="col s12">
            <label>Perfil Estrutural Externo</label>
            {{ form.perfil_estrutural_externo }}
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <label>Perfil Estrutural Interno</label>
            {{ form.perfil_estrutural_interno }}
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label>Tipo de Pintura</label>
            {{ form.tipo_pintura }}
          </div>
          <div class="col s6">
            <label for="id_quantidade_pintura">Quantidade Pintura (m²)</label>
            {{ form.quantidade_pintura }}
          </div>
        </div>
      </div>
      <h5 class="title-forms-fields">Drenagem</h5>
      <div class="form-group-of-fields">
        <div class="row">
          <div class="col s6">
            <label>Rufo</label>
            {{ form.rufo }}
          </div>
          <div class="col s6">
            <label>Calha</label>
            {{ form.calha }}
          </div>
        </div>
        <div class="row">
          <div class="col s3">
            <label>Montante</label>
            {{ form.montante }}
          </div>
          <div class="col s3">
            <label>Jusante</label>
            {{ form.jusante }}
          </div>
          <div class="col s3">
            <label>Lateral Esq.</label>
            {{ form.lateral_esquerda }}
          </div>
          <div class="col s3">
            <label>Lateral Dir.</label>
            {{ form.lateral_direita }}
          </div>
        </div>
      </div>
      <h5 class="title-forms-fields">Funcionários</h5>
      <div class="form-group-of-fields">
        <div class="row">
          <div class="col s6">
            <label for="id_dias_serralheiro">Quantidade de Dias Serralheiro</label>
            {{ form.dias_serralheiro }}
          </div>
          <div class="col s6">
            <label for="id_quantidade_serralheiro">Quantidade de Serralheiros</label>
            {{ form.quantidade_serralheiro }}
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label for="id_dias_auxiliar">Quantidade de Dias Auxiliar</label>
            {{ form.dias_auxiliar }}
          </div>
          <div class="col s6">
            <label for="id_quantidade_auxiliar">Quantidade de Auxiliares</label>
            {{ form.quantidade_auxiliar }}
          </div>
        </div>
      </div>
      <h5 class="title-forms-fields">Outros</h5>
      <div class="form-group-of-fields">
        <div class="row">
          <div class="col s6">
            <label>Dificuldade da Obra</label>
            {{ form.dificuldade }}
          </div>
          <div class="col s6">
            <label>
              {{ form.aproveitar_estrutura }}
              <span class="checkbox-grid" style="font-size:12px;">Considerar aproveitamento de estrutura</span>
            </label>
          </div>
        </div>
      </div>
      <button class="submit-hover submit-end-page" name="btnProximo" type="submit">
        <span>Ok </span>
      </button>
    </form>
  </div>
{% endblock content %}
