{% extends "main/basePage.html" %}
{% block content %}
  {% if user.is_authenticated %}
  <div class="content">
    <div class="title-page">
      <h4>Orçamento para {{orcamento.nomecliente}}</h4>
    </div>
    <div class="endereco-orcamento">
      {{orcamento.endereco}}
      <div class="divider"></div>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col s12">
          <p class="title-forms-fields">Especificação de Materiais</p>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Chapa</label>
          {{ formPolicarbonato.tipo_policarbonato }}
        </div>
        <div class="col s6">
          <label>Perfil União</label>
          {{ formPolicarbonato.tipo_perfil_uniao }}
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Perfil Arremate</label>
          {{ formPolicarbonato.tipo_perfil_arremate }}
        </div>
        <div class="col s6">
          <label>Perfil U</label>
          {{ formPolicarbonato.tipo_perfil_u }}
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Perfil Guarnição</label>
          {{ formPolicarbonato.tipo_guarnicao }}
        </div>
        <div class="col s6">
          <label>Perfil Gaxeta</label>
          {{ formPolicarbonato.tipo_gaxeta }}
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <label>Fita Vent Tape</label>
          {{ formPolicarbonato.tipo_fita_vent }}
        </div>
        <div class="col s4">
          <label>Fita de Alumínio</label>
          {{ formPolicarbonato.tipo_fita_aluminio }}
        </div>
        <div class="col s4">
          <label>Selante</label>
          {{ formPolicarbonato.tipo_selante }}
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Perfil Estrutural Externo</label>
          {{ formEstrutura.tipo_perfil_externo }}
        </div>
        <div class="col s6">
          <label>Perfil Estrutural Interno</label>
          {{ formEstrutura.tipo_perfil_interno }}
        </div>
      </div>
      {% if formEstruturaCurva %}
      <div class="row">
        <div class="col s12">
          <label>Tipo de Calandra</label>
          {{ formEstruturaCurva.tipo_calandra }}
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col s6">
          <label>Pintura</label>
          {{ formEstrutura.tipo_pintura }}
        </div>
        <div class="col s6 input-field" style="margin-top:20px;">
          {{ formEstrutura.quantidade_pintura }}
          <label for="id_quantPintura">Quantidade Pintura (m²)</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Rufo</label>
          {{ formEstrutura.chapa_rufo }}
        </div>
        <div class="col s6">
          <label>Calha</label>
          {{ formEstrutura.chapa_calha }}
        </div>
      </div>
      {% if formRetratil %}
      <br>
      <div class="row">
        <div class="col s12">
          <p class="title-forms-fields">Especificações Cobertura Retrátil</p>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Tipo de Motor</label>
          {{ formRetratil.tipo_motor }}
        </div>
        <div class="col s6 input-field" style="margin-top:20px;">
          {{ formRetratil.quantidade_motor }}
          <label for="id_quantidade_motor">Quantidade Motores</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 input-field">
          {{ formRetratil.quantidade_modulos }}
          <label for="id_quantidade_modulos">Quantidade Total Módulos</label>
        </div>
        <div class="col s6 input-field">
          {{ formRetratil.quantidade_modulos_moveis }}
          <label for="id_quantidade_modulos_moveis">Quantidade Módulos Móveis</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Direção do Movimento</label>
          {{ formRetratil.direcao_movimento }}
        </div>
        <div class="col s6">
          <label>Cantoneiras</label>
          {{ formRetratil.tipo_cantoneira }}
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Perfil Cantoneiras</label>
          {{ formRetratil.tipo_perfil_cantoneira }}
        </div>
        <div class="col s6">
          <label>Roldanas</label>
          {{ formRetratil.tipo_roldana }}
        </div>
      </div>
      {% endif %}
      <br>
      <div class="row">
        <div class="col s12">
          <p class="title-forms-fields">Medidas</p>
        </div>
      </div>
      {% if formEstruturaCurva %}
      <div class="row">
        <div class="col s2 input-field">
          {{ formDimensoes.corda_cobertura }}
          <label for="id_corda_cobertura">Corda</label>
        </div>
        <div class="col s2 input-field">
          {{ formDimensoes.flecha_cobertura }}
          <label for="id_flecha_cobertura">Flecha</label>
        </div>
        <div class="col s2 input-field">
          {{ formDimensoes.largura_cobertura }}
          <label for="id_largura_cobertura">Largura</label>
        </div>
      {% else %}
      <div class="row">
        <div class="col s2 input-field">
          {{ formDimensoes.comprimento_cobertura }}
          <label for="id_comprimento_cobertura">Comprimento</label>
        </div>
        <div class="col s2 input-field">
          {{ formDimensoes.largura_cobertura }}
          <label for="id_largura_cobertura">Largura</label>
        </div>
        <div class="col s2 input-field">
          {{ formDimensoes.declividade_cobertura }}
          <label for="id_declividade_cobertura">Declividade</label>
        </div>
        {% endif %}
        <div class="col s2 input-field">
          {{ formDimensoes.repeticoes_cobertura }}
          <label for="id_repeticoes_cobertura">Repeticoes</label>
        </div>
        <div class="col s2 input-field">
          {{ formDimensoes.distancia_apoios_cobertura }}
          <label for="id_distancia_apoios_cobertura">Distância Apoios</label>
        </div>
        <div class="col s2 input-field">
          {{ formDimensoes.quantidade_maos_francesas }}
          <label for="id_quantidade_maos_francesas">Quant. Maos Franc.</label>
        </div>
      </div>
      <br>
  	  <div class="row">
        <div class="col s12">
          <p class="title-forms-fields">Parâmetros de Drenagem</p>
        </div>
      </div>
      <div class="row">
        <div class="col s3">
          <label>Montante</label>
          {{ formEstrutura.montante }}
        </div>
        <div class="col s3">
          <label>Jusante</label>
          {{ formEstrutura.jusante }}
        </div>
        <div class="col s3">
          <label>Lateral Esquerda</label>
          {{ formEstrutura.lateral_esquerda }}
        </div>
        <div class="col s3">
          <label>Lateral Direita</label>
          {{ formEstrutura.lateral_direita }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col s12">
          <p class="title-forms-fields">Funcionários</p>
        </div>
      </div>
      <div class="row">
        <div class="col s3 input-field">
          {{ formEstrutura.dias_serralheiro }}
          <label for="id_diasObra">Quantidade de Dias Serralheiro</label>
        </div>
        <div class="col s3 input-field">
          {{ formEstrutura.quantidade_serralheiro }}
          <label for="id_quantFunc">Quantidade de Serralheiros</label>
        </div>
        <div class="col s3 input-field">
          {{ formEstrutura.dias_auxiliar }}
          <label for="id_diasObra">Quantidade de Dias Auxiliar</label>
        </div>
        <div class="col s3 input-field">
          {{ formEstrutura.quantidade_auxiliar }}
          <label for="id_quantFunc">Quantidade de Auxiliares</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p class="title-forms-fields">Outros Parâmetros</p>
        </div>
      </div>
      <div class="row">
        <div class="col s3">
          <label>Dificuldade da Obra</label>
          {{ formEstrutura.dificuldade }}
        </div>
        <div class="col s3">
          <label>
            {{ formEstrutura.aproveitar_estrutura }}
            <span class="checkbox-grid" style="font-size:12px;">Considerar aproveitamento de estrutura</span>
          </label>
        </div>
      </div>
      <br>
			<br>
      <div class="row">
				<div class="col s1 offset-s12" style="padding:0px;">
					<button class="submit-hover" name="btnProximo" type="submit" style="padding: 15px 20px 15px 20px;"><i class="material-icons">navigate_next</i></button>
				</div>
			</div>
    </form>
  </div>
{% endif %}
{% endblock content %}
